<!doctype html>
<html lang="en">
  <head>
  	<title>Login 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="../static/users/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">

			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<div class="img" style="background-image: url(../static/users/images/bg-1.jpg);"></div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Sing up - Register</h3>
			      		</div>
								</div>
			      	</div>
							<form method="post" class="signup-form">
								{% csrf_token %}
										<div class="form-group mt-3">
											<input type="text"  name="firstname" id="firstname" class="form-control" required>
											<label class="form-control-placeholder"  for="firstname">First name</label>
										</div>
										<div class="form-group mt-3">
											<input type="text" class="form-control" id="lastname" name="lastname" required>
											<label class="form-control-placeholder"  for="lastname">Last name</label>
										</div>
										<div class="form-group mt-3">
											<input type="email" class="form-control" id="email" name="email" required>
											<label class="form-control-placeholder"  for="email">Email</label>
										</div>
										<div class="form-group mt-3">
											<input type="text" class="form-control"  id="username" name="username" required>
											<label class="form-control-placeholder"  for="username">Username</label>
										</div>
										<div class="form-group">
											<input id="password" type="password"  name="password" class="form-control" required>
											<label class="form-control-placeholder" for="password">Password</label>

									</div>
									<div class="form-group">
										<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign up</button>
									</div>
									<div class="form-group d-md-flex">
										<div class="w-50 text-left">
											<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
													  <input type="checkbox" checked>
													  <span class="checkmark"></span>
														</label>
													</div>
													<div class="w-50 text-md-right">
														<a href="#"></a>
													</div>
									</div>
		          </form>
		          <p class="text-center">you a member? <a href="{% url 'login' %}">Sign in</a></p>
		        </div>
		      </div>
				</div>
			</div>
	</section>
	<script src="../static/users/js/jquery.min.js"></script>
  <script src="../static/users/js/popper.js"></script>
  <script src="../static/users/js/bootstrap.min.js"></script>
  <script src="../static/users/js/main.js"></script>

	</body>
</html>

