{%extends 'base.html'%}
{%load static%}
{%block content%}

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Shop</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">


					{% for i in products %}
					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="{{i.image.url}}"  height="300" width="400" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>{{i.name}}</h3>
								<p>{{i.description}}</p>
								<p><a href="{% url 'product_detail' i.id %}">Read More</a></p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>



{% endblock %}
